In [1]:
#Importing required libraries
import pandas as pd 
import numpy as np

In [2]:
#reading the data
data=pd.read_csv('data_cleaned.csv')
#first five rows of the data
data.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,22.0,7.2500,0,0,1,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
1,1,38.0,71.2833,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
2,1,26.0,7.9250,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
3,1,35.0,53.1000,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,35.0,8.0500,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

In [3]:
#independent variables
x = data.drop(['Survived'], axis=1)

#dependent variable
y = data['Survived']

In [4]:
#import the train-test split
from sklearn.model_selection import train_test_split
#divide into train and test sets
train_x,test_x,train_y,test_y = train_test_split(x,y, random_state = 101, stratify=y)

In [5]:
import lightgbm as lgb

In [7]:
train_data = lgb.Dataset(train_x,label = train_y)

In [6]:
params = {'learning_rate' : 0.001}

In [8]:
model = lgb.train(params,train_data,100 )

In [11]:
y_pred = model.predict(test_x)

In [12]:
for i in range(len(test_x)):
    if y_pred[i]>=0.5:
        y_pred[i]=1
    else:
        y_pred[i]=0

In [15]:
y_pred[:10]

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])